<div class="big-form">
  <%= form_for @conn, user_path(@conn, :create), [as: :user], fn f -> %>
    <h1 class="text-center">Sign Up</h1>
    <div class="form-group">
      <%= text_input f, :username, placeholder: "Username", class: "form-control" %>
      <%= error_tag f, :username %>
    </div>
  
    <div class="form-group">
      <%= text_input f, :email, placeholder: "Email", class: "form-control" %>
      <%= error_tag f, :email %>
    </div>
  
    <div class="form-group">
      <%= text_input f, :full_name, placeholder: "Full Name", class: "form-control" %>
      <%= error_tag f, :full_name %>
    </div>
  
    <div class="form-group">
      <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
      <%= error_tag f, :password %>
    </div>
  
    <div class="form-group">
      <%= submit "Submit", class: "btn btn-primary form-control" %>
    </div>
  <% end %>
  <a class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span> Sign in with Twitter
  </a>
  <a class="btn btn-block btn-social btn-github">
    <span class="fa fa-github"></span> Sign in with Github
  </a>
  <a class="btn btn-block btn-social btn-google">
    <span class="fa fa-google"></span> Sign in with Google
  </a>
  <h5>
    Already have an account? Sign in <a href="/login">here</a>
  </h5>

</div>
