<h2>Listing projects</h2>

<table class="table">
  <thead>
    <tr>
      <th>Pkey</th>
      <th>Name</th>
      <th>Repo</th>
      <th>Homepage</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for project <- @projects do %>
    <tr>
      <td><%= project.pkey %></td>
      <td><%= project.name %></td>
      <td><%= project.repo %></td>
      <td><%= project.homepage %></td>

      <td class="text-right">
        <%= link "Show", to: project_path(@conn, :show, project), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: project_path(@conn, :edit, project), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: project_path(@conn, :delete, project), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New project", to: project_path(@conn, :new) %>
