<h2>Show project</h2>

<ul>

  <li>
    <strong>Pkey:</strong>
    <%= @project.pkey %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @project.name %>
  </li>

  <li>
    <strong>Repo:</strong>
    <%= @project.repo %>
  </li>

  <li>
    <strong>Homepage:</strong>
    <%= @project.homepage %>
  </li>

</ul>

<%= link "Edit", to: project_path(@conn, :edit, @project) %>
<%= link "Back", to: project_path(@conn, :index) %>
