<h2>Listing tickets</h2>

<table class="table">
  <thead>
    <tr>
      <th>Ticket key</th>
      <th>Summary</th>
      <th>Description</th>
      <th>Assignee</th>
      <th>Reporter</th>
      <th>Project</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for ticket <- @tickets do %>
    <tr>
      <td><%= ticket.ticket_key %></td>
      <td><%= ticket.summary %></td>
      <td><%= ticket.description %></td>
      <td><%= ticket.assignee_id %></td>
      <td><%= ticket.reporter_id %></td>
      <td><%= ticket.project_id %></td>

      <td class="text-right">
        <%= link "Show", to: ticket_path(@conn, :show, ticket), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: ticket_path(@conn, :edit, ticket), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: ticket_path(@conn, :delete, ticket), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New ticket", to: ticket_path(@conn, :new) %>
