<h2>Show ticket</h2>

<ul>

  <li>
    <strong>Ticket key:</strong>
    <%= @ticket.ticket_key %>
  </li>

  <li>
    <strong>Summary:</strong>
    <%= @ticket.summary %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @ticket.description %>
  </li>

  <li>
    <strong>Assignee:</strong>
    <%= @ticket.assignee_id %>
  </li>

  <li>
    <strong>Reporter:</strong>
    <%= @ticket.reporter_id %>
  </li>

  <li>
    <strong>Project:</strong>
    <%= @ticket.project_id %>
  </li>

</ul>

<%= link "Edit", to: ticket_path(@conn, :edit, @ticket) %>
<%= link "Back", to: ticket_path(@conn, :index) %>
