<div class="big-form">
  <%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %> 
    <h1 class="text-center">Sign In</h1>
    <div class="form-group">
      <%= text_input f, :username, placeholder: "Username", class: "form-control" %> 
    </div>
    <div class="form-group">
      <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
    </div>
    <%= submit "Log in", class: "btn btn-success form-control" %> 
  <% end %>
  <a class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span> Sign in with Twitter
  </a>
  <a class="btn btn-block btn-social btn-github">
    <span class="fa fa-github"></span> Sign in with Github
  </a>
  <a class="btn btn-block btn-social btn-google">
    <span class="fa fa-google"></span> Sign in with Google
  </a>
  <h5>
    New user? Sign up <a href="/signup">here</a>
  </h5>
</div>
