/* This file is for your main application css. */
@import "bootstrap";
@import "assets/css/font-awesome";
@import "bootstrap-social.scss";
@import "variables";

html, body {
  height: 100%;
}

.Elixir.Tessera.SessionView {
  background-color: $highlight-color;
}

.navbar-default {
  margin-bottom: 0;
  background-color: $primary-color;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: $primary-font-color; 
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: $highlight-font-color;
  background-color: $highlight-color; 
}
.navbar-brand {
  padding: 0;
  background-color: $highlight-color;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-brand img:hover {
  opacity: 0.3;
}

.logo-heading {
  max-width: 250px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

  img {
    max-height: 90px;
  }

  h1 {
    display: inline-block;
    vertical-align: middle;
  }
}
