@import "variables";

.login_signup_body {
  background-color: $primary-color;
  color: white;
}

.big-form {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.big-form form {
  border-radius: 5px;
  color: black;
  background-color: white;
  padding: 15px;
}

.big-form .btn-twitter {
  margin-top: 10px;
}


