// color palette: http://www.colourlovers.com/palette/545312/serenely_singing

$color-palette-1: #440055;
$color-palette-2: #706482;
$color-palette-3: #6F8B94;
$color-palette-4: #ABBB9F;
$color-palette-5: #E6EBA9;

$primary-color: $color-palette-1;
$primary-font-color: white;
$highlight-color: $color-palette-2;
$highlight-font-color: white;
